.form-card,
.table-card{

background:white;

padding:25px;

border-radius:15px;

margin-bottom:25px;

box-shadow:
0 4px 15px rgba(0,0,0,.08);

}

form{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:15px;

}

input{

padding:12px;

border:1px solid #ddd;

border-radius:10px;

}

button{

background:#c40000;

color:white;

border:none;

padding:12px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}

.status-ok{
color:green;
font-weight:bold;
}

.status-alerta{
color:orange;
font-weight:bold;
}

.status-vencido{
color:red;
font-weight:bold;
}