.container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.brand{
  text-align:center;
  margin-bottom:30px;
}

.brand h1{
  font-size:52px;
  font-weight:900;
  color:#111;
}

.brand span{
  color:#c40000;
  font-weight:700;
}

.login-card{
  width:100%;
  max-width:420px;

  background:#fff;

  padding:30px;

  border-radius:25px;

  box-shadow:
  0 10px 30px rgba(0,0,0,.1);
}

.tag{
  color:#c40000;
  font-size:12px;
  font-weight:700;
  letter-spacing:2px;
}

.login-card h2{
  font-size:38px;
  margin-top:15px;
}

.login-card p{
  margin-top:10px;
  color:#666;
}

.login-card input{
  width:100%;
  padding:18px;
  margin-top:15px;

  border:1px solid #ddd;

  border-radius:15px;
}

.remember{
  display:flex;
  align-items:center;
  gap:10px;

  margin-top:15px;
}

.login-card button{
  width:100%;

  margin-top:20px;

  border:none;

  background:#d10000;

  color:#fff;

  padding:18px;

  border-radius:15px;

  font-size:18px;

  font-weight:bold;

  cursor:pointer;
}

.login-card button:hover{
  opacity:.9;
}